*{
margin: 0;
padding: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

/* Estilo para el header */
.encabezado {
    display: flex; /* Usamos flexbox para controlar la disposición de los elementos internos */
    align-items: center; /* Centramos verticalmente los elementos */
    background-image: url('../imagenes/fondos/rastafriki.jpg');
    background-repeat: initial;
    padding: 10px; /* Añadimos un poco de espacio alrededor de los elementos */
}

/* Estilo para la imagen */
.encabezado__logo {
    width: 200px;
}

/* Estilo para el título h1 */
.encabezado__titulo {
    color: #ffffff;
    flex-grow: 1; /* Permite que el título h1 ocupe todo el espacio restante */
    text-align: center; /* Centra el texto horizontalmente */
}

/* Estilo para el título h2 */
.encabezado__subtitulo {
    color: #ffffff;
}

/* Estilo para la navegación */
.navegacion__lista {
    margin-top: auto; /* Mueve la navegación hacia abajo */
}

/* Estilo para la lista de la navegación */
.navegacion__lista li {
    display: block; /* Cambiamos a bloque para que cada elemento esté en una línea */
    margin-bottom: 10px; /* Añadimos un poco de espacio entre los elementos */
}
/* Estilo para los elementos de la navegación */
.navegacion__lista a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none; /* Quitamos el subrayado del enlace */
}
/* Estilo para el hover */
.navegacion__lista a:hover {
    color: #ff0000; /* Cambia el color al pasar el cursor sobre el enlace */
}
body{
    background-color: #e8e8e8;
}
/*main home*/
.principal__foto{
    width: 100%;
}
.principal__titulo{
    display: flex;
    justify-content: center;
}
.principal__texto{
    display: flex;
    justify-content: center;
}
/*aside home*/
.partidos{
    display: flex;

}
.partidos__titulo {
    display: flex;
    justify-content: center;
}
.partidos img{
    width: 200px;
    height: auto;
    display: flex;
}

/*section home*/
.goleadores__imagen {
    display: block; /* Cambiado a display block */
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 100%; /* Para asegurarse de que la imagen no exceda su contenedor */
}
.goleadores {
    text-align: center; /* Para centrar el texto y las imágenes dentro del contenedor */
}
.goleadores__titulo{
    display: flex;
    justify-content: center;
}
.goleadores__subtitulo{
    display: flex;
    justify-content: center;
}
/* Estilo para los contenedores de puestos */
.goleadores__puestos {
    display: flex;
    justify-content: center; /* Centrar horizontalmente los contenedores de puestos */
    margin-top: 20px; /* Espacio superior para separar del contenido superior */
}

/* Estilo para las imágenes dentro de los contenedores de puestos */
.goleadores__puestos img {
    max-width: 100%; /* Para asegurarse de que las imágenes no excedan su contenedor */
    height: auto; /* Mantener la proporción de aspecto */
}

/* Estilo para los contenedores de puestos individuales */
.goleadores__puestos-item {
    margin: 0 10px; /* Espacio horizontal entre los contenedores de puestos */
    max-width: 100%; /* Para asegurarse de que los contenedores no excedan su contenedor padre */
    text-align: center; /* Centrar el contenido dentro de los contenedores */
    display: inline-block; /* Cambiado a inline-block para que los contenedores se ajusten al contenido */
}        
/*main galery*/

.galery{    
    display:flexbox;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.galery a img{
    display: inline-block;
    justify-content: center;
    height: 220px;
    border-radius: 5%;
    box-shadow: 5px 12px 18px black;
    margin: 20px;
}
/* Estilo para el carrusel */


.carousel-inner img {
    width: 100%; /* Hacer que las imágenes ocupen todo el ancho del carrusel */
    height: auto; /* Mantener la proporción de aspecto */
}

/* Ajuste para el carrusel de Bootstrap */
.carousel {
    width: 100%; /* Hacer que el carrusel ocupe todo el ancho disponible */
}

/* Estilo para las secciones de galería */
.catalogo__juego,
.catalogo__entreno,
.catalogo__social {
    margin-bottom: 20px; /* Espaciado entre cada sección de galería */
}

/*main indumentaria*/

.catalogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.catalogo__muestras{

    justify-content: center;
    text-align: center;
}
.catalogo__muestras img{

    flex-wrap:wrap ;
    height: 220px;
    border-radius: 5%;
    box-shadow: 5px 12px 18px black;
    margin: 20px;
}
/* Estilo para las secciones de galería */
.catalogo__juego__galerias,
.catalogo__entreno__galerias,
.catalogo__social__galerias {
    display: inline-block;
    width: auto; /* Hacer que las imágenes ocupen todo el ancho disponible */
    max-height: 220px;
}



.catalogo__juego__galerias img,
.catalogo__entreno__galerias img,
.catalogo__social__galerias img {
    display: inline-block;
    width: auto;
    max-height: 250px; /* Mantener la proporción de aspecto */
}


/*main sponsors*/
.grid-contenedor{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: auto 0.2fr auto;
    grid-template-areas: 
    "encabezado encabezado encabezado encabezado"
    "sponsors   sponsors   sponsors   sponsors"
    "pie        pie        pie        pie"
    ;
}
.encabezado{
    grid-area: encabezado;
}
.sponsors{
    grid-area: sponsors;
    
}

.pie{
    grid-area: pie;
}

.sponsors img{
    display: flex; /* no puedo lograr que las imagenes ocupen todas las columnas*/
    height: 220px;
    border-radius: 5%;
    box-shadow: 5px 12px 18px black;
    grid-column: span 4; /* Las imágenes ocuparán todas las 4 columnas */
}
/*main inscribirse*/
.tabla tr th{
    border: 1px solid black;
}
.tabla tr td{
    border: 1px solid black;
}
/*footer*/
.pie__subtitulo, .pie__texto{
    text-align: center;
    background-color: #2ed32e;
}
.pie a{
    display: inline-block;
    text-align: center;
    margin: auto;
}
.pie__redes{
    display: flex;
    align-content: space-around;
}
.pie__redes a img{
    width: 300px;
}
.pie a img{
    display: flex;
    text-align: center;
    width: 100px;
    height: auto;
    
}
.pie{
    background-image: url('../imagenes/fondos/rastafriki.jpg');
    background-repeat: initial;
}
.pie__logos img{
    display: flex;
    display: inline-block;
    margin: auto;
    justify-content: space-between;
    height: 200px;
    
}
.pie__logos{
    display: flex;
    align-content: space-around;
}

/* media queries*/



@media (max-width:768px) {
       /* encabezado */
    .encabezado__subtitulo{
        display: none;
    }
    /* index */
    .partidos__texto{
        display: none;
    }
    /* Indumentaria */
    .catalogo__muestras{
        display: none;
    }

    .grid-contenedor{ /* sponsors */

        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
        grid-template-areas: 
        "encabezado encabezado"
        "sponsors   sponsors"
        "pie        pie"
        ;
    }
    /* footer */
    .pie__redes a img{
        width: 40px;
    }
    .pie__logos img{
        display: flex;
        align-content: space-around;
        height: 70px;
    }
}

@media (max-width:576px) {
    /* encabezado */
    .encabezado__subtitulo{ 
        display: none; /* lo borro porque no da el lugar */
    }
    /* index */
    .partidos img{
        width: 20%;
        display: flex;
    }
    /* Indumentaria */
    .catalogo__muestras{
        display: none;
    }


        /* sponsors */

    .grid-contenedor{

        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
        grid-template-areas: 
        "encabezado"
        "sponsors"
        "pie"
        ;
    }

 /* footer */
        .pie__redes a img{
            width: 40px;
        }
        .pie__logos img{
            display: flex;
            align-content: space-around;
            height: 70px;
    }
}